# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R Programmining
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Sklearn
4. Tensor flow

| Data Science Tools |
| -------------------|
| VS Code |
| R Studio |
| IBM Cloud Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
* libraries used by Data Scientists
* Arthimatic expressions in Python
* List popular languages for Data Science

## Author
Kaleem Mehmood